.membership-container .header{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.membership-container .programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.membership-container .program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.membership-container .program {
    flex-basis: 31%;
    position: relative;
}
.membership-container .caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s
}
.membership-container .caption img{
    width: 60px;
    margin-bottom: 10px;
}
.membership-container .program:hover .caption{
    opacity: 1;
    padding-top: 0;
}
.membership-container .caption button{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}


@media (max-width: 650px) {
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}