.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80%;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 600;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: capitalize;
    gap: 10px;
}

.breadcrum p{
    cursor: pointer;
}

.breadcrum .link:hover{
    color: #000;
}

.breadcrum p img{
    width: 7px;
}

@media (max-width: 600px) {
    .breadcrum{
        display: flex;
        width: 100%;
        margin: 10px 0;

    }
    .breadcrum p{
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 100px;
        gap: 8px;
        font-size: 12px;
    }
    .breadcrum p img{
        width: 5px;
    }
}