.descriptionbox {
    margin: 100px 150px;
}

.descriptionbox-navigator {
    display: flex;
}

.descriptionbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade {
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 30px;
    padding-bottom: 50px;
}

@media (max-width: 600px){
    .descriptionbox{
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }
    .descriptionbox-navigator{
        display: flex;
        width: 100%;
        height: 80px;
        margin: auto;
    }
    .descriptionbox-description{
        display: block;
        border: 1px solid #ccc;
        margin-top: -30px;
    }
    .descriptionbox-description p{
        display: flex;
    }
}